html {
  min-height: 10em;
  min-width: 20em;
}

h2 {
  text-align: center;
}

ul {
  margin: auto;
  padding: 0;
  text-align: center;
}

li {
  list-style: none;
  text-indent: 0px;
  padding: 10px;
}

li:hover {
  background-color: #4e6bec;
  color: white;
  cursor: pointer;
}
.wrapper-progress-bar {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-progress-bar {
  width: 100%;
  background-color: #e5e7eb; /* bg-gray-200 */
  border-radius: 9999px; /* rounded-full */
  display: block;
}

.progress-bar {
  background-color: #4e6bec;
  color: #dbeafe;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  padding: 0.125rem;
  line-height: 1;
  border-radius: 9999px;
  width: 0%;
}

.hidden {
  display: none;
}
.separator {
  width: 100%;
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #1a202c;
}
.showIndicators-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
#showIndicators {
  width: 1rem;
  height: 1rem;
  color: #3182ce;
  background-color: #f7fafc;
  border: 1px solid #cbd5e0;
  border-radius: 0.25rem;
}

#showIndicators:focus {
  outline: none;
  box-shadow: 0 0 0 2px #93c5fd, 0 0 0 3px rgba(66, 153, 225, 0.5);
}
.showIndicators-label {
  margin-left: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #1a202c;
}
